<div id="upate-q-a">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                {{updateQusAnsVM.qtype}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="type in updateQusAnsVM.tlist">
                    <a ui-sref="app.updateQusAns.list({ 'qtype': type})">{{type}}</a>
                </li>
              </ul>
            </div>
            <button type="button" class="btn btn-success pull-right" ng-click="updateQusAnsVM.doAdd()"
                    data-toggle="modal" data-target="#myModal">Add</button>
        </div>
        <div ui-view></div>
    </div>
</div>
